@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.container {
  text-align: center;
  margin-top: 100px;
}
.container ul li.compornent {
  display: inline-block;
  line-height: 40px;
  perspective: 500px;
}
.container ul li.compornent a.face {
  display: inline-block;
  width: 40px;
  color: #fff;
  text-decoration: none;
  background-color: turquoise;
  cursor: default;
  -webkit-transform-style: preserve-3D;
  -moz-transform-style: preserve-3D;
  -ms-transform-style: preserve-3D;
  -o-transform-style: preserve-3D;
  transform-style: preserve-3D;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.container ul li.compornent a.face:hover, .container ul li.compornent a.face :focus {
  -webkit-transform: rotateX(90deg) translateY(-20px);
  -moz-transform: rotateX(90deg) translateY(-20px);
  -ms-transform: rotateX(90deg) translateY(-20px);
  -o-transform: rotateX(90deg) translateY(-20px);
  transform: rotateX(90deg) translateY(-20px);
}
.container ul li.compornent a.face:hover::after, .container ul li.compornent a.face :focus::after {
  background-color: lightseagreen;
}
.container ul li.compornent a.face::after {
  content: attr(data-hover);
  width: 100%;
  position: absolute;
  top: 100%;
  /* 真下にしたいので100% */
  left: 0;
  background-color: darkcyan;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
